<!DOCTYPE html>
<html>
<body>
<nav id="nav-bar">
  <img class="logo" src="/images/bird.png" width="80px" height="80px">
  <span class="header">Tweeter</span>
  <% if (!session.cookies.user_id) { %>
  <form method="GET" action="/login">
    <input type="submit" value="Log In">
  </form>
  <form method="GET" action="/register">
    <input type="submit" value="Register">
  </form>
  <% }else{ %>
    <button value="Compose">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    Compose
    </button>
  <% } %>
</nav>
</body>
</html>