html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1;
}

main {
  width: 44%;
  padding: 140px 2em 140px 2em;
  margin: auto;
  background-color: white;
}

@media (max-width: 768px) {
  nav {
    height: 10vh;
  }
  nav .header {
    display: none;
  }
  nav .logo {
    text-align: center;
  }
  main {
    width: 90%;
  }
  h2 {
    font-size: 2em;
  }
  .new-tweet {
    height: 10em;
  }
}